@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

.container {
    max-width: 1137px !important;
    margin: 0 auto;
}

.header-top {
    i {
        padding-top: 2px;
    }
}

.location {
    filter: grayscale(550%);
}